/* styles.css */
.p-paginator .p-paginator-page {
    color: #000;
    /* Default text color for page numbers */
    background-color: #e9ecef;
    /* Default background color for page numbers */
    border: 1px solid #ddd;
    /* Border around the page numbers */
}



.p-paginator .p-paginator-page:hover {
    background-color: #e2e6ea;
    /* Background color on hover */
}